* {
  box-sizing: border-box !important;
  letter-spacing: 1px !important;
  font-family: "Sora";
}

html,
body,
.wrapper {
  height: 100vh;
  width: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background: linear-gradient(135deg, #161616, #3E065F, #700B97, #8E05C2);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  color: #f9f9f9;
}

h1 {
  margin-block-start: 0px;
}

@keyframes colors {
  0% {
    background-position: 15% 50%;
  }

  50% {
    background-position: 50% 90%;
  }

  100% {
    background-position: 15% 50%;
  }
}

@media (width <= 700px) {
  body {
    h1 {
     font-size: 24px !important;
    }

    h2 {
      font-size: 27px !important;
    }

    h3 {
      font-size: 22.5px !important;
    }

    input {
      font-size: 16px !important;
    }

    label {
      font-size: 13.3px !important;
    }
  }
}

@keyframes shake {

  0%,
  100% {
      translate: 0;
  }

  25% {
      translate: 8px 0;
  }

  75% {
      translate: -8px 0;
  }
}

@media (width <= 300px) {
  body {
    font-family: 20px;
  }
}

#root {
  width: 100%;
  height: 100%; 
}

.confirmDiv {
  width: 100%;
  position: relative;
}

.ml5 {
  margin-left: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb0 {
  margin-bottom: 0px;
}

.mainButton {
  padding: 10px 20px;
  color: white;
  margin-top: 30px;
  background-color:#700B97;
  width: auto !important;
  height: auto;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 20px;
}

.textbox {
  width: 72%;
  position: relative;
  height: 60px;
}

.textbox span {
  position: absolute;
  top: 50%;
  left: 6px;
  translate: 0 -30%;
  color: #f9f9f9;
}

.textbox label {
  position: absolute;
  top: 50%;
  translate: 0 -10%;
  color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #313131;
}

::-webkit-scrollbar-track {
  background: #313131;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 22px;
  border: 1px solid #5f5f5f
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}