* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Sora";
}

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background: linear-gradient(135deg, #161616, #3E065F, #700B97, #8E05C2);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  color: #f9f9f9;
  
}

h1 {
  margin-block-start: 0px;
}

@keyframes colors {
  0% {
    background-position: 15% 50%;
  }

  50% {
    background-position: 50% 90%;
  }

  100% {
    background-position: 15% 50%;
  }
}

@media (width <= 700px) {
  body {
    h1 {
     font-size: 24px !important;
    }

    h2 {
      font-size: 27px !important;
    }

    h3 {
      font-size: 22.5px !important;
    }

    input {
      font-size: 16px !important;
    }

    label {
      font-size: 13.3px !important;
    }
  }
}

@media (width <= 300px) {
  body {
    font-family: 20px;
  }
}

#root {
  width: 100%;
  height: 100%; 
}

.confirmDiv {
  width: 100%;
  position: relative;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mainButton {
  padding: 10px 20px;
  color: white;
  margin-top: 10px;
  background-color:#700B97;
  width: auto !important;
  height: auto;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 20px;
}

.textbox {
  width: 72%;
  position: relative;
}

.textbox span {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  color: #f9f9f9;
}

.textbox label {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  color: #f9f9f9;
}