.login {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 22px;
  background: #161616;
  text-align: center;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 20px;
}

@media (width >=450px) {
  .login {
    width: 380px;
  }
}

.login>h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 4px;
}

.login>h3 {
  color: rgba(255, 255, 255, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 17px;
}

.login-form {
  display: grid;
  gap: 16px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.login-form a {
  color: #f9f9f9;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
}